.landing-container{
    display: flex;
    justify-content: space-between;
    color: rgb(15, 15, 15);
    
}
h1{
    text-align: center;
    font-size: 50px;
}
p{
    font-size: 18px;
    font-weight: 600;
}
.about{
    position: relative;
    top: 30px;
    padding:2rem;
}

.image{
    position: relative;
    top: 65px;
}